<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="brazil">
<head>
  <title>Login Cliente</title>
  <link href="../static/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login-form">
  <h2>Login Cliente</h2>
  <form th:action="@{/login}" th:object="${user}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" required />
    <label for="password">Senha:</label>
    <input type="password" id="password" th:field="*{password}" required />
    <button type="submit">Login</button>
  </form>
  <form th:action="@{/cadastro}"method="get">
    <button type="submit" method="get">Cadastrar-se</button>
  </form>
</div>
</body>
</html>