<!DOCTYPE html>
<html>
<head>
	<title>Lumber Store - Products</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="backoffice">
		<a href="home" class="backoffice-button">Home</a>
		<a href="backoffice" class="backoffice-button">Backoffice</a>
	</div>
	<ul class="products-page">
		<li>
			<img src="product1.jpg" alt="Product 1">
			<h3>Product 1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<button class="add-to-cart">Add to Cart</button>
		</li>
		<li>
			<img src="product2.jpg" alt="Product 2">
			<h3>Product 2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<button class="add-to-cart">Add to Cart</button>
		</li>
		<li>
			<img src="product3.jpg" alt="Product 3">
			<h3>Product 3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<button class="add-to-cart">Add to Cart</button>
		</li>
	</ul>
</body>
</html>